{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
	<h1>Post</h1>
	<div class="row">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center g-5">
			{% for p in posts %}
				<div class="col">
					<div class="card">
						<img src="{{ p.photo }}" class="card-img-top" alt="Image">
						<div class="card-body">
							<h5 class="card-title">{{ p.title }}</h5>
							<p class="card-text">{{ p.description }}</p>
							<a href="{{ p.link }}" class="btn btn-primary">Visiter le site</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
